@media (min-width: 340px) and (max-width: 600px)
    .container
        width: 100%
        height: 100%
        padding: 0 10px
        overflow: hidden
    .hamburger
        display: flex
    .header
        .logo
            height: 50px
        &__nav
            display: none
    .promo
        .title_big
            padding-top: 20px
            padding-left: 20px
            width: 340px
            font-size: 30px
            line-height: 35px
        .title_small
            padding-left: 20px
            font-size: 20px
        .btn__wrapper
            flex-direction: column
            .btn
                margin-left: 20px
        .btn__group
            padding-top: 20px
            margin-left: 20px
            justify-content: start
            .btn_circle
                margin-left: 20px
    .menu
        height: 700px
        margin-top: 30px
        &__images
            display: none
        &__list
            &_item
                &_title
                &_subtitle
                    font-size: 18px
                    line-height: 30px
    .feedback
        height: 600px
        .slider_feedback
            &_btn_right
                right: 0%
            &_btn_left
                left: 0%
            &__item
                margin-top: 50px
                &_title
                    font-size: 20px
                &_subtitle
                    width: 200px
                    font-size: 15px
                    line-height: 20px
                &_author
                    font-size: 20px
    .meals
        padding-top: 50px
        height: 100%
        &_item
            flex-direction: column
            &_content>span
                top: 19%
        &_img
            width: 100%
        &_title
            padding-bottom: 10px
            font-size: 28px
            line-height: 30px
    .places_slider_items
        position: relative
        left: 0
    .places_slider_item
        margin: 0
    .places
        margin-top: 50px
        height: 80%
        &_slider
            overflow: hidden
            &_btn_left
                top: 30%
                left: 5%
            &_btn_right
                right: 5%
                top: 30%
            &_text
                padding-left: 10px
                top: 0%
                left: 0%
            &_items
                display: block
                margin: 0 auto
            &_item
                margin-left: 0px
                &_img
                    object-fit: contain
                    margin-top: 150px
                    height: 100%
        &_title
            font-size: 28px
        &_subtitle
            font-size: 20px
            width: 300px
    .contacts
        margin-top: 30px
        height: 100%
        &__wrapper
            display: flex
            flex-direction: column
        &__circle
            height: 41px
            max-width: 41px
        &__title
            font-size: 30px
        &__item
            margin-top: 10px
            &_title
                padding-left: 10px
                font-size: 15px
                line-height: 20px
            &_subtitle
                padding-left: 10px
                line-height: 20px
        .form
            &_title
                font-size: 30px
            &__grid
                display: flex
                flex-direction: column
            &_submit
                margin-top: 10px
                button
                    width: 100%
            input
                width: 100%
            &_textarea

    .footer
        margin-top: 10px
        &__map
            max-width: 100%
        &__nav
            margin-top: 10px
            .logo
                display: none
        .btn__group
            position: inherit
            display: flex
            justify-content: space-evenly
            width: 100%
            .btn_circle
                margin-left: 0px
